@font-face {
    font-family: 'ActaDisplay-Bold';
    src: url('@/../fonts/ActaDisplayW01/6a9e5fd2f52ecb70fcca3d5d49afaf68.eot'); /* IE9*/
    src: url('@/../fonts/ActaDisplayW01/6a9e5fd2f52ecb70fcca3d5d49afaf68.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */
            url('@/../fonts/ActaDisplayW01/6a9e5fd2f52ecb70fcca3d5d49afaf68.woff2')
            format('woff2'),
        /* chrome、firefox */
            url('@/../fonts/ActaDisplayW01/6a9e5fd2f52ecb70fcca3d5d49afaf68.woff')
            format('woff'),
        /* chrome、firefox */
            url('@/../fonts/ActaDisplayW01/6a9e5fd2f52ecb70fcca3d5d49afaf68.ttf')
            format('truetype'),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url('@/../fonts/ActaDisplayW01/6a9e5fd2f52ecb70fcca3d5d49afaf68.svg#Acta Display W01 Bold')
            format('svg'); /* iOS 4.1- */
}

html {
    /* 1rem = 10px */
    font-size: 62.5% !important;
}
body {
    font-size: 1.6rem !important;
}

a {
    text-decoration: none;

    &:visited,
    &:active {
        color: inherit;
    }
}

.container {
    @media screen and (min-width: 1904px) {
        max-width: 1440px !important;
    }
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
    opacity: 0;
}
