@font-face {
    font-family: 'ActaDisplay-Bold';
    src: url('@/../fonts/ActaDisplayW01/Acta-Display-W01-Bold.ttf');
}
@font-face {
    font-family: 'ActaDisplay-Book';
    src: url('@/../fonts/ActaDisplayW01/Acta-Display-W01-Book.ttf');
}

@font-face {
    font-family: 'Graphik-Regular';
    src: url('@/../fonts/Graphik/Graphik-400-Regular.otf');
}
@font-face {
    font-family: 'Graphik-Semibold';
    src: url('@/../fonts/Graphik/Graphik-600-Semibold.otf');
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('@/../fonts/OpenSans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('@/../fonts/OpenSans/OpenSans-Semibold.ttf');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('@/../fonts/OpenSans/OpenSans-Bold.ttf');
}

html {
    /* 1rem = 10px */
    font-size: 62.5% !important;
}
body {
    font-size: 1.6rem !important;
}

a {
    text-decoration: none;

    &:visited,
    &:active {
        color: inherit;
    }
}

.container {
    @media screen and (min-width: 1904px) {
        max-width: 1440px !important;
    }
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
    opacity: 0;
}
