// --------- COLORS ---------

//White
$white: #fff;

//Black
$black: #000;

//Grey
$grey1: #828489;
$grey2: #f2f2f2;
$grey3: #595959;

//Dark
$dark: #212121;

//Gold
$gold: #c1b073;

// --------- TYPOGRAPHY ---------
$acta-display-bold: 'ActaDisplay-Bold';
